/* 
replaced with m-2 utility class
body {
    margin: 2rem;
} */

#column-1 {
    display: inline-block
}

#column-1 h1.border.rounded-circle {
    /* replaced with mb-4 utility class
    margin-bottom: 2rem; */
    border-width: 2rem !important; /* border-width marked as !important in BS SCSS */
}

/* div.dropdown {
    margin-top: 1rem;
    margin-bottom: 7rem;
} */

#color-examples {
    /* margin-left: 2rem; */
    vertical-align: top;
    display: inline-block;
}

.text-white.bg-dark {
    padding: 0.5rem;
}

#boxes {
    display: block;
    width: 500px;
    height: 500px;
    outline: 1px solid red;
}

#boxes div {
    outline: 1px solid blue;
    width: 100px;
    height: 300px;
    display: inline-block;
}