@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #f7d3dc;
}

.navbar {
  background-color: transparent;
  text-transform: uppercase;
  transition: background-color 1s;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}

.navbar-toggler {
  margin-right: 0.5rem;
}

.navbar--scrolled {
  background-color: #e2b6d3;
  transition: background-color 1s;
}

.nav-item, .nav-link {
  width: fit-content;
}

.navbar-brand {
  color: #8e5c64 !important;
  font-size: 1.5rem;
}

.nav-link {
  color: #fff8fc !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #8e5c64 !important;
}

.header .__image {
  width: 100%;
}

.header .col-md-6:nth-of-type(2) {
  padding-right: 0;
  padding-left: 0;
}