@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  font-family: 'Shadows Into Light', cursive;
  background: #f7d3dc;
}

.navbar {
  background-color: transparent;
  text-transform: uppercase;
  transition: background-color 1s;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}

.navbar-toggler {
  margin-right: 0.5rem;
}

.navbar--scrolled {
  background-color: #e2b6d3;
  transition: background-color 1s;
}

.nav-item, .nav-link {
  width: fit-content;
}

.navbar-brand {
  color: #8e5c64 !important;
  font-size: 1.5rem;
}

.nav-link {
  text-shadow: 1px 1px #8e5c64;
  color: #fff8fc !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #8e5c64 !important;
}

.header {
  text-align: justify;
}

.header__row {
  align-content: flex-start;
}

.header__image {
  outline: 1px solid lightblue;
  padding-right: 0;
  padding-left: 0;
}

.header__image img {
  width: 100%;
}

.header__text {
  font-size: 4vw;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 1px 1px #8e5c64;
}

.header__text p {
  margin: 0;
}

.header__text p span {
  color: #8e5c64;
}