body {
  font-family: 'Roboto', sans-serif;
}

#navbar {
  background-color: black;
}

#heading {
  background-image: linear-gradient(
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)
    ),
    url("chinese-calligraphy.jpg");
  background-size: 100%;
  text-shadow: 2px 2px black;
}