body {
  font-family: 'Roboto', sans-serif;
  background: black;
}

#navbar {
  background-color: black;
}

#heading {
  background-image: linear-gradient(
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)
    ),
    url("chinese-calligraphy.jpg");
  background-size: 100%;
  text-shadow: 2px 2px black;
}

.card-body {
  background: black;
}

.card-body p {
  min-height: 275px;
}

.card-img-top {
  min-height: 275px;
}

.col-12 {
  margin-bottom: 2rem;
}